<div class="container">
    <div class="theapp">
        <h2>About the app!</h2>
        <p>The Handy Man App was our answer to a need that almost every individual has faced.
            When we are hungry, we can have food delivered directly to us. If we need a ride, we can press a button on
            an app and get one of those too!
            However, when a pipe in your home bursts or your car breaks down we have to spend precious time researching
            businesses and tradesmen online only to find their schedules fully booked.
            The Handy Man App is our way of "delivering" a skilled tradesman to your door. With the press of a button,
            you can find professionals who are able to tackle any problem you might have.
            Find the one you like, look at the review rating, send a message to the tradesman and within no time they
            will be on their way to assist you.
        </p>
    </div>

    <div class="us">
        <h2>About us!</h2>
        <div>
            <p>Tyler (input shortbackground later)</p>
        </div>
        <div>
            <p>Isaac (input shortbackground later)</p>
        </div>
        <div>
            <p>Tony (input shortbackground later)</p> 
        </div>
    </div>
</div>

<div class="container">
    <h2>Thanks for checking out the Handy Man App! Click any of the links below if you would like to get in contact!
    </h2>
</div>

<div class="container">
    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tyler's Email</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tyler's Github</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tyler's LinkedIn</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tyler's Resume</h2>
        </a>
    </div>
</div>

<div class="container">
    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Isaac's Email</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Isaac's Github</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Isaac's LinkedIn</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Isaac's Resume</h2>
        </a>
    </div>
</div>

<div class="container">
    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tony's Email</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tony's Github</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tony's LinkedIn</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tony's Resume</h2>
        </a>
    </div>
</div>