<div class="container">
    <div class="us">
        <h2>About us!</h2>
        <div>
            <p>Tyler: "Hi. My name is Tyler Brian Yeager. I am a former Ranger for the Bureau of Land Management now pursuing a career as a Fullstack Developer.
                I look forward to working with you.</p>
        </div>
        <div>
            <p>Isaac: "Amateur photographer turned full stack web developer."</p>
        </div>
        <div>
            <p>Tony: "UCSB mathematics class of 2021 Current Berkeley Full-Stack Coding Bootcamp Student"</p> 
        </div>
    </div>
</div>

<div class="container">
    <h2>Thanks for checking out the Handy Man App! Click any of the links below if you would like to get in contact!
    </h2>
</div>

<div class="container">
    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="mailto: wow_d2@hotmail.com">
            <h2 class="card-title">Tyler's Email</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="https://github.com/TylerBYeager">
            <h2 class="card-title">Tyler's Github</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="https://www.linkedin.com/in/tyler-yeager-611926213/">
            <h2 class="card-title">Tyler's LinkedIn</h2>
        </a>
    </div>

</div>

<div class="container">
    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="mailto: isaaccortes014@gmail.com">
            <h2 class="card-title">Isaac's Email</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="https://github.com/icortes">
            <h2 class="card-title">Isaac's Github</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="https://www.linkedin.com/in/cortes-isaac/">
            <h2 class="card-title">Isaac's LinkedIn</h2>
        </a>
    </div>

</div>

<div class="container">
    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="mailto: tz16917@gmail.com">
            <h2 class="card-title">Tony's Email</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="https://github.com/Tonyzyt9947">
            <h2 class="card-title">Tony's Github</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="https://www.linkedin.com/in/tony-zhang-61670421b/">
            <h2 class="card-title">Tony's LinkedIn</h2>
        </a>
    </div>

</div>