<div class="container">
    <div class="us">
        <h2>About us!</h2>
        <div>
            <p>Tyler (input shortbackground later)</p>
        </div>
        <div>
            <p>Isaac (input shortbackground later)</p>
        </div>
        <div>
            <p>Tony (input shortbackground later)</p> 
        </div>
    </div>
</div>

<div class="container">
    <h2>Thanks for checking out the Handy Man App! Click any of the links below if you would like to get in contact!
    </h2>
</div>

<div class="container">
    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tyler's Email</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tyler's Github</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tyler's LinkedIn</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tyler's Resume</h2>
        </a>
    </div>
</div>

<div class="container">
    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Isaac's Email</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Isaac's Github</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Isaac's LinkedIn</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Isaac's Resume</h2>
        </a>
    </div>
</div>

<div class="container">
    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tony's Email</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tony's Github</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tony's LinkedIn</h2>
        </a>
    </div>

    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/">
            <h2 class="card-title">Tony's Resume</h2>
        </a>
    </div>
</div>