<div class="parallax">
    <h1>Handy Man</h1>
  <p class="p-5 text-justify">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    porro dignissimos consequatur aliquam quasi quas distinctio, iste suscipit
    enim numquam delectus eveniet aperiam illo minima nihil hic reprehenderit
    sunt assumenda!
  </p>
</div>