<div class="parallax">
  <h1>Handy Man</h1>
  <p class="p-5">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    porro dignissimos consequatur aliquam quasi quas distinctio, iste suscipit
    enim numquam delectus eveniet aperiam illo minima nihil hic reprehenderit
    sunt assumenda!
  </p>
</div>

<div class="about-us">
  <h2>About Us</h2>
  <p class="p-5">
    The Handy Man App was our answer to a need that almost every individual has
    faced. When we are hungry, we can have food delivered directly to us. If we
    need a ride, we can press a button on an app and get one of those too!
    However, when a pipe in your home bursts or your car breaks down we have to
    spend precious time researching businesses and tradesmen online only to find
    their schedules fully booked. The Handy Man App is our way of "delivering" a
    skilled tradesman to your door. With the press of a button, you can find
    professionals who are able to tackle any problem you might have. Find the
    one you like, look at the review rating, send a message to the tradesman and
    within no time they will be on their way to assist you.

  </p>
</div>