<div class="parallax">
  <h1>Handy Man</h1>
  <p class="p-5">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
    porro dignissimos consequatur aliquam quasi quas distinctio, iste suscipit
    enim numquam delectus eveniet aperiam illo minima nihil hic reprehenderit
    sunt assumenda!
  </p>
</div>

<div class="about-us">
  <h2>About Us</h2>
  <p class="p-5">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio assumenda
    perferendis aut, quo omnis tenetur possimus, tempore quidem quam blanditiis
    labore rem officiis doloremque ratione. Sunt dignissimos corrupti ratione
    eum.
  </p>
</div>