<div class="row mt-5">
  <div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
    <div class="col-10 col-lg-4 col-md-6 col-sm-10">
        <div class="card">
            <h5 class="card-header">Are you a User or a vendor? If you haven't
                created an account yet then click on "Sign up!"</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><a
                            class="card-link stretched-link"
                            href="/login/user"
                        >User Log in</a></li>
                    <li class="list-group-item"><a
                            class="card-link stretched-link"
                            href="/login/vendor"
                        >Vendor Log in</a></li>
                </ul>
            </div>
            <div class="card-body">
                <a href="/sign-up" class="card-link float-right">Sign up!</a>
            </div>
        </div>
    </div>
    <div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
</div>