<div class="container">
  <h2>Are you a User or a vendor? If you haven't created an account yet then
    click on "Sign up!"</h2>
  <a href="/sign-up"><h3>Sign up!</h3></a>
</div>

<div class="container">
  <div class="card">
    <a
      class="card-block stretched-link text-decoration-none"
      href="/login/user"
    >
      <h2 class="card-title">User Log in</h2>
    </a>
  </div>

  <div class="card">
    <a
      class="card-block stretched-link text-decoration-none"
      href="/login/vendor"
    >
      <h2 class="card-title">Vendor Log in</h2>
    </a>
  </div>
</div>