<div class="container">
    <div class="row">

        <div class="col">
            <form>
                <div class="form-group">
                    <select class="custom-select" id="select-category">
                        <option selected>Select a category</option>
                    </select>
                </div>
                <div class="form-group">
                    <button
                        type="button"
                        class="btn btn-primary"
                        id="search-category"
                    >
                        Search vendors
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col" id="display">

    </div>

</div>

<script src="/js/search.js"></script>