<div class="container">
    <select class="custom-select" id="select-category">
        <option selected>Select a category</option>
    </select>
    <button type="button" class="btn btn-primary" id="search-category">
        Search vendors
    </button>
</div>

<div class="container" id="display">
    
    <div class="card">
        
        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>

        </div>

    </div>
    
    <div class="card">
        
        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>

        </div>

    </div>

    <div class="card">
        
        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>

        </div>

    </div>








</div>

<script src="/js/search.js"></script>