<div class="container">
    <h2>Are you signing up as a User or a Vendor?</h2>
</div>

<div class="container">
    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/sign-up/user">
            <h2 class="card-title">User Sign up</h2>
        </a>
    </div>


    <div class="card">
        <a class="card-block stretched-link text-decoration-none" href="/sign-up/vendor">
            <h2 class="card-title">Vendor Sign up</h2>
        </a>
    </div>
</div>

