<div class="row mt-5">
    <div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
    <div class="col-10 col-lg-4 col-md-6 col-sm-10">
        <div class="card">
            <h5 class="card-header">Are you signing up as a User or a Vendor?</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><a
                            class="card-link stretched-link"
                            href="/sign-up/user"
                        >User Sign up</a></li>
                    <li class="list-group-item"><a
                            class="card-link stretched-link"
                            href="/sign-up/vendor"
                        >Vendor Sign up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-1 col-lg-4 col-md-3 col-sm-1"></div>
</div>