<div class="container" id="user-login">
    <div class="row">
        <div class="col col-12 col-lg-8 col-md-12 col-sm-12 mt-5">
            <img
                src="/img/login-carpenter.jpeg"
                class="img-fluid rounded float-right"
                alt="handsome carpenter in apron standing with crossed arms in workshop"
            />
        </div>
        <div class="col col-12 col-lg-4 col-md-12 col-sm-12 mt-5">
            <div class="card">
                <h3 class="card-header">User Login</h3>
                <form id="login-form" class="card-body">

                    <div class="form-group">
                        <label for="email-login">Email</label>
                        <input
                            id="email-login"
                            type="email"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <label
                            class="form-label"
                            for="password-login"
                        >Password</label>
                        <input
                            id="password-login"
                            type="password"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <button
                            type="submit"
                            class="btn btn-primary"
                        >Login!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/user-login.js"></script>