<div class="card">
    <h3 class="card-header">User Login</h3>
    <form id="login-form" class="card-body">

        <label class="form-label" for="email-login">Email</label>
        <input id="email-login" type="email" autofocus="true" class="form-input" />

        <label class="form-label" for="password-login">Password</label>
        <input id="password-login" type="password" autofocus="true" class="form-input" />

        <button type="submit" class="btn">Login!</button>

    </form>
</div>

{{!-- <script src="/"></script> --}}