<div class="card">
  <h3 class="card-header">User Sign Up</h3>
  <form id="signup-form" class="card-body">

    <label class="form-label" for="fname-signup">First Name</label>
    <input id="fname-signup" type="text" class="form-input"/>

    <label class="form-label" for="lname-signup">Last Name</label>
    <input id="lname-signup" type="text" class="form-input"/>

    <label class="form-label" for="bname-signup">Name of your business</label>
    <input id="bname-signup" type="text" class="form-input"/>

    <label class="form-label" for="usernumber-signup">Personal or Business Number</label>
    <input id="usernumber-signup" type="text" class="form-input"/>

    <label class="form-label" for="email-signup">Personal or Business Email</label>
    <input id="email-signup" type="email" class="form-input"/>

    <label class="form-label" for="password-signup">Password</label>
    <input id="password-signup" type="password" class="form-input"/>

    <button type="submit" class="btn">Sign up!</button>

  </form>
</div>

{{!-- <script src="/"></script> --}}