<div class="container">
    <div>
        <h2>Vender Profile</h2>
        <div>
            <p>Tyler (input shortbackground later)</p>
        </div>
        <div>
            <p>Isaac (input shortbackground later)</p>
        </div>
        <div>
            <p>Tony (input shortbackground later)</p> 
        </div>
    </div>
</div>