* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-image: linear-gradient(-90deg,#A1FFFC, #B4FFA1);
}

.nav-link {
    font-size: 16px;
    margin: 3px;
    color: black!important;
    font-weight: 500;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important
}

.navbar .fa {
    color: black;
    font-size: 26px;
}

.nav-link:hover {
    font-weight: 600;
    border-bottom: 1px solid black;
}

.navbar-brand i {
    width: 150px;
    margin-top: 5px;
    margin-left: 20px;
}

@media only screen and (max-width: 1000px){
    .nav-link:hover {
        border-bottom: none!important;
    }
}